<h1> Simplicity Book Reader</h1>


<div style="text-align:center">

    <h2>Book Search Form</h2>
    
    <form action="/query_book", method="POST">
       <input name="book_title" size="50" placeholder="Book Title" required>
       <input type='submit'>
      </form>

</div>


