<h1> Simplicity Book Reader</h1>

<% if( !is_logged_in ){ %>
	<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=73107975855-dapdgln79j62ovmt1kf2ootsv5rb9mhf.apps.googleusercontent.com&response_type=token&scope=email&redirect_uri=https://stark-wave-13030.herokuapp.com/auth">Login with Google</a>
<% }else{ %>

<div style="text-align:center">

    <h2>Book Search Form</h2>
    
    <form action="/query_book", method="POST">
       <input name="book_title" size="50" placeholder="Book Title" required>
       <input type='submit'>
      </form>

</div>

<% } %>

